---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

import { ScrollObserver } from 'astro-scroll-observer';

interface Props {
    title: string;
    navLocaleUrlEn: string;
    navLocaleUrlCs: string;
	currentPage: string;
}

const {
    title,
    navLocaleUrlEn,
    navLocaleUrlCs,
	currentPage,
} = Astro.props;

const astroLocale = Astro.currentLocale;
const locale = astroLocale === 'en' || astroLocale === 'cs' ? astroLocale : 'en';
const baseUrl = 'www.rosemary-artist.com'
const pageUrl = `${baseUrl}${locale === 'cs' ? '/cs' : ''}${currentPage}`;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="alternate"
			hreflang={(locale === 'en') ? 'en-us' : 'cz'}
			href={pageUrl}
		/>
        <meta name="generator" content={Astro.generator} />
        <ScrollObserver />
        <title>{'Rosemary | '} {title}</title>
		<slot name="page-meta" />
    </head>
    <body>
        <Navbar
            enLocaleUrl={navLocaleUrlEn}
            csLocaleUrl={navLocaleUrlCs}
			currentPage={currentPage}
			currentLocale={locale}
        />
        <div class="pageTitle">
            <h1>{ title }</h1>
        </div>
        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        --white: #f2f2f2;
        --dark: lch(26.56% 1.51 216);
        --mid: lch(35.16% 1.51 216);
        --light: lch(58.% 4.83 258.35);
        --gold: lch(82.67% 100.53 81.59);
        --gold2: lch(77.33% 100.53 81.53);
        --orange: lch(64.67% 98.6 52.94);
        --hsl-dark: #000000;
        --hsl-mid: #252526;
        --hsl-light:hsl(214 6% 55%);
        --hsl-gold: hsl(46.03 100% 50%);
        --hsl-gold2: hsl(45.93 100% 46%);
        --hsl-orange: hsl(23.8 100% 53%);
    }
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        background-color: var(--white);
    }
    a {
        color: var(--secondary);
        cursor: pointer;
        transition: color 0.25s;<html lang="en"><html lang="en">
        text-decoration: none;
    }
    h1, h2, h3, {
        color: var(--primary);
    }
    b {
        color: var(--primary);
    }
    p {
        color: var(--secondary);
    }
    .pageTitle {
		text-transform: capitalize;
        margin-top: 80px;
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }
	main, section {
		width: 100%;
		max-width: 1400px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		line-height: 1.75rem;
	}
	main {
		align-self: center;
		color: var(--secondary);
		font-size: 20px;
		min-height: 100dvh;
		margin: auto;
	}

	section {
		object-fit: contain;
		position: relative;
		margin: 20px;
		padding: 20px;
	}
</style>
<html lang="en"></html>
